* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(230, 243, 254);
  min-height: 100vh;
}

/* container */
.contener {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
}

/* main card */
.content {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  border-radius: 15px;
  box-shadow: 2px 2px 50px -30px black;
  display: flex;
  gap: 20px;
  height: 600px;
  padding: 15px;
}

/* left side */
.content-left {
  flex: 1;
  position: relative;
}

.content-left img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

/* steps */
.content-left .details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}

.content-left .details .one,
.content-left .details .two,
.content-left .details .three,
.content-left .details .four {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content-left .details button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.plan a {
  padding-top: 5px;
  color: blueviolet;
  font-weight: 600;
}
.content-left .details button:hover {
  background-color: rgb(130, 230, 169);
  color: black;
}
#four,
#three,
#two,
#one {
  background-color: rgb(130, 230, 169);
  color: black;
}
.content-left .details h3 {
  font-size: 14px;
  letter-spacing: 1px;
}

.content-left .details p {
  font-size: 12px;
  color: rgb(220, 220, 220);
}
/* right side */
.content-right {
  flex: 2;
  padding: 20px;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30%;
}
.plans {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}
.price-plan p {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.add {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: black;
  align-items: center;
  gap: 15px;
}
.content-right .text {
  margin-bottom: 10%;
}
.masseage {
  position: fixed;
  background-color: rgba(177, 177, 177, 0.866);
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;

}
.masseage .button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.content .masseage h1 {
  padding-bottom: 10px;
}
.content .button #button-yas,#button-no {
  padding: 10px;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(23, 98, 173);
  color: white;
  cursor: pointer;
}
.content-right .details {
  background-color: rgba(58, 145, 188, 0.062);
  padding: 10px;
}
.contentHTML {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.adds p {
  color: rgb(65, 65, 65);
  font-size: 19px;
}
.price-adds p {
  color: black;
  font-weight: 600;
  font-size: 15px;
}
.total {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.total h3 {
  color: rgb(126, 126, 126);
}
.total p {
  color: blueviolet;
  font-weight: 600;
  font-size: 20px;
}
#sub {
  align-self: flex-end;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(23, 98, 173);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.back {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  align-items: end;
  margin-top: 15%;
  flex-wrap: wrap;
}
.back-button {
  padding: 10px 13px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(13, 53, 93);
  color: white;
  cursor: pointer;
  margin-top: 10px;
  text-wrap: nowrap;
}
@media (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .content-left img {
    content: url("bg-sidebar-mobile.svg");
  }

  .content-left .details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .details .text {
    display: none;
  }

  .content-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
